openapi: 3.0.3
info:
  title: Cloudflare R2 Cloudflare API
  description: Cloudflare API endpoints for managing R2 object storage buckets, objects, CORS, lifecycle policies, custom domains, event notifications, data catalog, and temporary credentials.
  version: 4.0.0
  termsOfService: https://www.cloudflare.com/website-terms/
  contact:
    name: Cloudflare Developer Docs
    url: https://developers.cloudflare.com/r2/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4
paths:
  /accounts/{account_id}/event_notifications/r2/{bucket_name}/configuration:
    get:
      description: List all event notification rules for a bucket.
      operationId: r2-get-event-notification-configs
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Read Configuration failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket-config'
                  type: object
          description: Read Configuration response.
        "404":
          content:
            application/json:
              example:
                errors:
                - code: 11015
                  message: workers.api.error.no_configs_found_for_bucket
                messages: []
                result:
                success: false
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: No Configuration Found response.
      security:
      - api_token: []
      summary: List Event Notification Rules
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      - Workers R2 Storage Read
  /accounts/{account_id}/event_notifications/r2/{bucket_name}/configuration/queues/{queue_id}:
    delete:
      description: Delete an event notification rule. **If no body is provided, all rules for specified queue will be deleted**.
      operationId: r2-event-notification-delete-config
      parameters:
      - in: path
        name: queue_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_queue_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ruleIds:
                  description: Array of rule ids to delete.
                  items:
                    description: rule ids to be deleted.
                    type: string
                  type: array
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Delete Configuration failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
          description: Delete Configuration response.
      security:
      - api_token: []
      summary: Delete Event Notification Rules
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
    get:
      description: Get a single event notification rule.
      operationId: r2-get-event-notification-config
      parameters:
      - in: path
        name: queue_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_queue_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          default: default
          description: The bucket jurisdiction.
          enum:
          - default
          - eu
          - fedramp
          type: string
          x-stainless-param: jurisdiction
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Read Configuration failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_queues-config'
                  type: object
          description: Read Configuration response.
        "404":
          content:
            application/json:
              example:
                errors:
                - code: 11015
                  message: workers.api.error.no_configs_found_for_bucket
                messages: []
                result:
                success: false
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: No Configuration Found response.
      security:
      - api_token: []
      summary: Get Event Notification Rule
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      - Workers R2 Storage Read
    put:
      description: Create event notification rule.
      operationId: r2-put-event-notification-config
      parameters:
      - in: path
        name: queue_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_queue_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                rules:
                  description: Array of rules to drive notifications.
                  items:
                    $ref: '#/components/schemas/r2_rule'
                  minItems: 1
                  type: array
              required:
              - rules
              type: object
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Create Configuration failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
          description: Create Configuration response.
      security:
      - api_token: []
      summary: Create Event Notification Rule
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
  /accounts/{account_id}/r2-catalog:
    get:
      description: |
        Returns a list of R2 buckets that have been enabled as Apache Iceberg catalogs
        for the specified account. Each catalog represents an R2 bucket configured
        to store Iceberg metadata and data files.
      operationId: list-catalogs
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                  warehouses:
                  - bucket: analytics-bucket
                    id: 550e8400-e29b-41d4-a716-446655440000
                    maintenance_config:
                      compaction:
                        state: enabled
                        target_size_mb: "128"
                      snapshot_expiration:
                        max_snapshot_age: 7d
                        min_snapshots_to_keep: 100
                        state: enabled
                    name: account123_analytics-bucket
                    status: active
                  - bucket: logs-bucket
                    id: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                    maintenance_config:
                      compaction:
                        state: disabled
                        target_size_mb: "128"
                      snapshot_expiration:
                        max_snapshot_age: 7d
                        min_snapshots_to_keep: 100
                        state: disabled
                    name: account123_logs-bucket
                    status: inactive
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2-data-catalog_catalog-list'
                  type: object
          description: List of R2 catalogs.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: List R2 catalogs
      tags:
      - R2 Catalog Management
      x-api-token-group:
      - Workers R2 Data Catalog Write
      - Workers R2 Data Catalog Read
  /accounts/{account_id}/r2-catalog/{bucket_name}:
    get:
      description: |
        Retrieve detailed information about a specific R2 catalog by bucket name.
        Returns catalog status, maintenance configuration, and credential status.
      operationId: get-catalog-details
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                  bucket: analytics-bucket
                  credential_status: present
                  id: 550e8400-e29b-41d4-a716-446655440000
                  maintenance_config:
                    compaction:
                      state: enabled
                      target_size_mb: "128"
                    snapshot_expiration:
                      max_snapshot_age: 7d
                      min_snapshots_to_keep: 100
                      state: enabled
                  name: account123_analytics-bucket
                  status: active
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2-data-catalog_catalog'
                  type: object
          description: R2 catalog details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Catalog not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: Get R2 catalog details
      tags:
      - R2 Catalog Management
      x-api-token-group:
      - Workers R2 Data Catalog Write
      - Workers R2 Data Catalog Read
  /accounts/{account_id}/r2-catalog/{bucket_name}/credential:
    post:
      description: |
        Store authentication credentials for a catalog. These credentials are used
        to authenticate with R2 storage when performing catalog operations.
      operationId: store-credentials
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      requestBody:
        content:
          application/json:
            example:
              token: your-cloudflare-api-token-here
            schema:
              $ref: '#/components/schemas/r2-data-catalog_catalog-credential-request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      nullable: true
                      type: object
                  type: object
          description: Credentials stored successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Catalog not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: Store catalog credentials
      tags:
      - Credential Management
      x-api-token-group:
      - Workers R2 Data Catalog Write
  /accounts/{account_id}/r2-catalog/{bucket_name}/disable:
    post:
      description: |
        Disable an R2 bucket as a catalog. This operation deactivates the catalog
        but preserves existing metadata and data files. The catalog can be
        re-enabled later.
      operationId: disable-catalog
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name to disable as catalog.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      responses:
        "204":
          description: Catalog disabled successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Catalog not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: Disable R2 catalog
      tags:
      - R2 Catalog Management
      x-api-token-group:
      - Workers R2 Data Catalog Write
  /accounts/{account_id}/r2-catalog/{bucket_name}/enable:
    post:
      description: |
        Enable an R2 bucket as an Apache Iceberg catalog. This operation creates
        the necessary catalog infrastructure and activates the bucket for storing
        Iceberg metadata and data files.
      operationId: enable-catalog
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name to enable as catalog.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                  id: 550e8400-e29b-41d4-a716-446655440000
                  name: account123_my-bucket
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2-data-catalog_catalog-activation-response'
                  type: object
          description: Catalog enabled successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: R2 bucket not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Catalog already enabled.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: Enable R2 bucket as a catalog
      tags:
      - R2 Catalog Management
      x-api-token-group:
      - Workers R2 Data Catalog Write
  /accounts/{account_id}/r2-catalog/{bucket_name}/maintenance-configs:
    get:
      description: |
        Retrieve the maintenance configuration for a specific catalog,
        including compaction settings and credential status.
      operationId: get-maintenance-config
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                  credential_status: present
                  maintenance_config:
                    compaction:
                      state: enabled
                      target_size_mb: "128"
                    snapshot_expiration:
                      max_snapshot_age: 7d
                      min_snapshots_to_keep: 100
                      state: enabled
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2-data-catalog_catalog-maintenance-config-response'
                  type: object
          description: Maintenance configuration retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Catalog not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: Get catalog maintenance configuration
      tags:
      - Maintenance Configuration
      x-api-token-group:
      - Workers R2 Data Catalog Write
      - Workers R2 Data Catalog Read
    post:
      description: |
        Update the maintenance configuration for a catalog. This allows you to
        enable or disable compaction and adjust target file sizes for optimization.
      operationId: update-maintenance-config
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      requestBody:
        content:
          application/json:
            example:
              compaction:
                state: enabled
                target_size_mb: "256"
              snapshot_expiration:
                max_snapshot_age: 14d
                min_snapshots_to_keep: 5
                state: enabled
            schema:
              $ref: '#/components/schemas/r2-data-catalog_catalog-maintenance-update-request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                  compaction:
                    state: enabled
                    target_size_mb: "256"
                  snapshot_expiration:
                    max_snapshot_age: 14d
                    min_snapshots_to_keep: 5
                    state: enabled
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2-data-catalog_catalog-maintenance-config'
                  type: object
          description: Maintenance configuration updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Catalog not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: Update catalog maintenance configuration
      tags:
      - Maintenance Configuration
      x-api-token-group:
      - Workers R2 Data Catalog Write
  /accounts/{account_id}/r2-catalog/{bucket_name}/namespaces:
    get:
      description: |
        Returns a list of namespaces in the specified R2 catalog.
        Supports hierarchical filtering and pagination for efficient traversal
        of large namespace hierarchies.
      operationId: list-namespaces
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      - description: |
          Opaque pagination token from a previous response.
          Use this to fetch the next page of results.
        example: MSYxNzU5NzU1NTc4NTA0MTk0JjAxOTliOTliLTJjODgtNzNiMy04ZGJiLTQyMWUwZThmMjc1Nw
        in: query
        name: page_token
        schema:
          type: string
      - description: |
          Maximum number of namespaces to return per page.
          Defaults to 100, maximum 1000.
        example: 100
        in: query
        name: page_size
        schema:
          default: 100
          maximum: 1000
          minimum: 1
          type: integer
      - description: |
          Parent namespace to filter by. Only returns direct children of this namespace.
          For nested namespaces, use %1F as separator (e.g., "bronze%1Fanalytics").
          Omit this parameter to list top-level namespaces.
        example: bronze
        in: query
        name: parent
        schema:
          type: string
      - description: |
          Whether to include namespace UUIDs in the response.
          Set to true to receive the namespace_uuids array.
        example: true
        in: query
        name: return_uuids
        schema:
          default: false
          type: boolean
      - description: |
          Whether to include additional metadata (timestamps).
          When true, response includes created_at and updated_at arrays.
        example: true
        in: query
        name: return_details
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                  details:
                  - created_at: "2025-10-07T10:00:00Z"
                    namespace:
                    - bronze
                    namespace_uuid: 0199b999-6869-7383-bb1f-d30e059d5326
                    updated_at: "2025-10-07T12:00:00Z"
                  - created_at: "2025-10-07T10:15:00Z"
                    namespace:
                    - silver
                    namespace_uuid: 0199b99b-2c88-73b3-8dbb-421e0e8f2757
                    updated_at:
                  - created_at: "2025-10-07T10:30:00Z"
                    namespace:
                    - gold
                    namespace_uuid: 0199b99c-3d99-73c4-9dcc-532f1f9g3868
                    updated_at: "2025-10-07T11:00:00Z"
                  namespace_uuids:
                  - 0199b999-6869-7383-bb1f-d30e059d5326
                  - 0199b99b-2c88-73b3-8dbb-421e0e8f2757
                  - 0199b99c-3d99-73c4-9dcc-532f1f9g3868
                  namespaces:
                  - - bronze
                  - - silver
                  - - gold
                  next_page_token:
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2-data-catalog_namespace-list-response'
                  type: object
          description: List of namespaces retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request (e.g., invalid page_size, malformed parent namespace).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Catalog not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: List namespaces in catalog
      tags:
      - Namespace Management
      x-api-token-group:
      - Workers R2 Data Catalog Write
      - Workers R2 Data Catalog Read
  /accounts/{account_id}/r2-catalog/{bucket_name}/namespaces/{namespace}/tables:
    get:
      description: |
        Returns a list of tables in the specified namespace within an R2 catalog.
        Supports pagination for efficient traversal of large table collections.
      operationId: list-tables
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      - description: |
          The namespace identifier.
          For nested namespaces, use %1F as separator (e.g., "bronze%1Fanalytics").
        example: bronze
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: |
          Opaque pagination token from a previous response.
          Use this to fetch the next page of results.
        example: MSYxNzU5NzU2MTI4NTU2Njk2JjAxOTliOWEzLTkxMmUtN2ZhMS05YzllLTg5MTAxMGQzYTg0MQ
        in: query
        name: page_token
        schema:
          type: string
      - description: |
          Maximum number of tables to return per page.
          Defaults to 100, maximum 1000.
        example: 100
        in: query
        name: page_size
        schema:
          default: 100
          maximum: 1000
          minimum: 1
          type: integer
      - description: |
          Whether to include table UUIDs in the response.
          Set to true to receive the table_uuids array.
        example: true
        in: query
        name: return_uuids
        schema:
          default: false
          type: boolean
      - description: |
          Whether to include additional metadata (timestamps, locations).
          When true, response includes created_at, updated_at, metadata_locations, and locations arrays.
        example: true
        in: query
        name: return_details
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                  details:
                  - created_at: "2025-10-07T10:00:00Z"
                    identifier:
                      name: events
                      namespace:
                      - bronze
                    location: s3://my-bucket/__r2_data_catalog/wh-id/table-id/
                    metadata_location: s3://my-bucket/__r2_data_catalog/wh-id/table-id/metadata/v1.metadata.json
                    table_uuid: 0199b9a1-28a0-71e0-a73e-b0fc32c8468e
                    updated_at: "2025-10-07T15:00:00Z"
                  - created_at: "2025-10-07T10:30:00Z"
                    identifier:
                      name: users
                      namespace:
                      - bronze
                    location: s3://my-bucket/__r2_data_catalog/wh-id/table-id-2/
                    metadata_location: s3://my-bucket/__r2_data_catalog/wh-id/table-id-2/metadata/v2.metadata.json
                    table_uuid: 0199b9a1-3c74-7731-bf53-d8c67ead079d
                    updated_at: "2025-10-07T16:00:00Z"
                  identifiers:
                  - name: events
                    namespace:
                    - bronze
                  - name: users
                    namespace:
                    - bronze
                  next_page_token:
                  table_uuids:
                  - 0199b9a1-28a0-71e0-a73e-b0fc32c8468e
                  - 0199b9a1-3c74-7731-bf53-d8c67ead079d
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2-data-catalog_table-list-response'
                  type: object
          description: List of tables retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request (e.g., invalid page_size, malformed namespace).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Catalog or namespace not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: List tables in namespace
      tags:
      - Table Management
      x-api-token-group:
      - Workers R2 Data Catalog Write
      - Workers R2 Data Catalog Read
  /accounts/{account_id}/r2-catalog/{bucket_name}/namespaces/{namespace}/tables/{table_name}/maintenance-configs:
    get:
      description: |
        Retrieve the maintenance configuration for a specific table,
        including compaction settings.
      operationId: get-table-maintenance-config
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      - description: The namespace identifier (use %1F as separator for nested namespaces).
        example: my_namespace%1Fsub_namespace
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: The table name.
        example: my_table
        in: path
        name: table_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                  maintenance_config:
                    compaction:
                      state: enabled
                      target_size_mb: "128"
                    snapshot_expiration:
                      max_snapshot_age: 7d
                      min_snapshots_to_keep: 100
                      state: enabled
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2-data-catalog_table-maintenance-config-response'
                  type: object
          description: Table maintenance configuration retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Table not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: Get table maintenance configuration
      tags:
      - Table Maintenance Configuration
      x-api-token-group:
      - Workers R2 Data Catalog Write
      - Workers R2 Data Catalog Read
    post:
      description: |
        Update the maintenance configuration for a specific table. This allows you to
        enable or disable compaction and adjust target file sizes for optimization.
      operationId: update-table-maintenance-config
      parameters:
      - description: Identifies the account.
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_account-id'
      - description: Specifies the R2 bucket name.
        in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2-data-catalog_bucket-name'
      - description: The namespace identifier (use %1F as separator for nested namespaces).
        example: my_namespace%1Fsub_namespace
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: The table name.
        example: my_table
        in: path
        name: table_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              compaction:
                state: enabled
                target_size_mb: "256"
              snapshot_expiration:
                max_snapshot_age: 14d
                min_snapshots_to_keep: 5
                state: enabled
            schema:
              $ref: '#/components/schemas/r2-data-catalog_table-maintenance-update-request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                errors: []
                messages: []
                result:
                  compaction:
                    state: enabled
                    target_size_mb: "256"
                  snapshot_expiration:
                    max_snapshot_age: 14d
                    min_snapshots_to_keep: 5
                    state: enabled
                success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2-data-catalog_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2-data-catalog_table-maintenance-config'
                  type: object
          description: Table maintenance configuration updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Authentication failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Table not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2-data-catalog_api-response-common-failure'
          description: Internal server error.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      summary: Update table maintenance configuration
      tags:
      - Table Maintenance Configuration
      x-api-token-group:
      - Workers R2 Data Catalog Write
  /accounts/{account_id}/r2/buckets:
    get:
      description: Lists all R2 buckets on your account.
      operationId: r2-list-buckets
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: query
        name: name_contains
        schema:
          description: Bucket names to filter by. Only buckets with this phrase in their name will be returned.
          example: my-bucket
          type: string
      - in: query
        name: start_after
        schema:
          description: Bucket name to start searching after. Buckets are ordered lexicographically.
          example: my-bucket
          type: string
      - in: query
        name: per_page
        schema:
          default: 20
          description: Maximum number of buckets to return in a single call.
          maximum: 1000
          minimum: 1
          type: number
      - in: query
        name: order
        schema:
          description: Field to order buckets by.
          enum:
          - name
          type: string
      - in: query
        name: direction
        schema:
          description: Direction to order buckets.
          enum:
          - asc
          - desc
          example: desc
          type: string
      - in: query
        name: cursor
        schema:
          description: Pagination cursor received during the last List Buckets call. R2 buckets are paginated using cursors instead of page numbers.
          type: string
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: List Buckets response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response_list'
                - properties:
                    result:
                      properties:
                        buckets:
                          items:
                            $ref: '#/components/schemas/r2_bucket'
                          type: array
                      type: object
                  type: object
          description: List Buckets response.
      security:
      - api_token: []
      summary: List Buckets
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      - Workers R2 Storage Read
    post:
      description: Creates a new R2 bucket.
      operationId: r2-create-bucket
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              example: '{"name": "example-bucket"}'
              properties:
                locationHint:
                  $ref: '#/components/schemas/r2_bucket_location'
                name:
                  $ref: '#/components/schemas/r2_bucket_name'
                storageClass:
                  $ref: '#/components/schemas/r2_storage_class'
              required:
              - name
              type: object
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Create Bucket response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket'
                  type: object
          description: Create Bucket response.
      security:
      - api_token: []
      summary: Create Bucket
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
  /accounts/{account_id}/r2/buckets/{bucket_name}:
    delete:
      description: Deletes an existing R2 bucket.
      operationId: r2-delete-bucket
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Delete Bucket response failure.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response'
          description: Delete Bucket response.
      security:
      - api_token: []
      summary: Delete Bucket
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
    get:
      description: Gets properties of an existing R2 bucket.
      operationId: r2-get-bucket
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Get Bucket response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket'
                  type: object
          description: Get Bucket response.
      security:
      - api_token: []
      summary: Get Bucket
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
    patch:
      description: Updates properties of an existing R2 bucket.
      operationId: r2-patch-bucket
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      - in: header
        name: cf-r2-storage-class
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/r2_storage_class'
          x-stainless-param: storage_class
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Get Bucket response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket'
                  type: object
          description: Patch Bucket response.
      security:
      - api_token: []
      summary: Patch Bucket
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
  /accounts/{account_id}/r2/buckets/{bucket_name}/cors:
    delete:
      description: Delete the CORS policy for a bucket.
      operationId: r2-delete-bucket-cors-policy
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Error Response.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
          description: Success Response.
      security:
      - api_token: []
      summary: Delete Bucket CORS Policy
      tags:
      - R2 Bucket
    get:
      description: Get the CORS policy for a bucket.
      operationId: r2-get-bucket-cors-policy
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Error Response.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      properties:
                        rules:
                          items:
                            $ref: '#/components/schemas/r2_cors-rule'
                          type: array
                      type: object
                  type: object
          description: Success Response.
      security:
      - api_token: []
      summary: Get Bucket CORS Policy
      tags:
      - R2 Bucket
    put:
      description: Set the CORS policy for a bucket.
      operationId: r2-put-bucket-cors-policy
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                rules:
                  items:
                    $ref: '#/components/schemas/r2_cors-rule'
                  type: array
              type: object
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Error Response.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
          description: Success Response.
      security:
      - api_token: []
      summary: Put Bucket CORS Policy
      tags:
      - R2 Bucket
  /accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom:
    get:
      description: Gets a list of all custom domains registered with an existing R2 bucket.
      operationId: r2-list-custom-domains
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: List Custom Domains response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_list_custom_domains_response'
                  type: object
          description: List Custom Domains response.
      security:
      - api_token: []
      summary: List Custom Domains of Bucket
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
    post:
      description: Register a new custom domain for an existing R2 bucket.
      operationId: r2-add-custom-domain
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/r2_add_custom_domain_request'
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Add Custom Domain response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_add_custom_domain_response'
                  type: object
          description: Add Custom Domain response.
      security:
      - api_token: []
      summary: Attach Custom Domain To Bucket
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
  /accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom/{domain}:
    delete:
      description: Remove custom domain registration from an existing R2 bucket.
      operationId: r2-delete-custom-domain
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: domain
        required: true
        schema:
          $ref: '#/components/schemas/r2_domain_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Delete Custom Domain response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_remove_custom_domain_response'
                  type: object
          description: Delete Custom Domain response.
      security:
      - api_token: []
      summary: Remove Custom Domain From Bucket
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
    get:
      description: Get the configuration for a custom domain on an existing R2 bucket.
      operationId: r2-get-custom-domain-settings
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: domain
        required: true
        schema:
          $ref: '#/components/schemas/r2_domain_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Get Custom Domain Configuration response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      allOf:
                      - $ref: '#/components/schemas/r2_get_custom_domain_response'
                  type: object
          description: Get Custom Domain Configuration response.
      security:
      - api_token: []
      summary: Get Custom Domain Settings
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      - Workers R2 Storage Read
    put:
      description: Edit the configuration for a custom domain on an existing R2 bucket.
      operationId: r2-edit-custom-domain-settings
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: domain
        required: true
        schema:
          $ref: '#/components/schemas/r2_domain_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/r2_edit_custom_domain_request'
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Edit Custom Domain Configuration response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      allOf:
                      - $ref: '#/components/schemas/r2_edit_custom_domain_response'
                  type: object
          description: Edit Custom Domain Configuration response.
      security:
      - api_token: []
      summary: Configure Custom Domain Settings
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
  /accounts/{account_id}/r2/buckets/{bucket_name}/domains/managed:
    get:
      description: Gets state of public access over the bucket's R2-managed (r2.dev) domain.
      operationId: r2-get-bucket-public-policy
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Get Managed Subdomain response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_managed_domain_response'
                  type: object
          description: Get Managed Subdomain response.
      security:
      - api_token: []
      summary: Get r2.dev Domain of Bucket
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
    put:
      description: Updates state of public access over the bucket's R2-managed (r2.dev) domain.
      operationId: r2-put-bucket-public-policy
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/r2_edit_managed_domain_request'
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Update Managed Subdomain response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_managed_domain_response'
                  type: object
          description: Update Managed Subdomain response.
      security:
      - api_token: []
      summary: Update r2.dev Domain of Bucket
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
  /accounts/{account_id}/r2/buckets/{bucket_name}/lifecycle:
    get:
      description: Get object lifecycle rules for a bucket.
      operationId: r2-get-bucket-lifecycle-configuration
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Error Response.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_lifecycle-config'
                  type: object
          description: Success Response.
      security:
      - api_token: []
      summary: Get Object Lifecycle Rules
      tags:
      - R2 Bucket
    put:
      description: Set the object lifecycle rules for a bucket.
      operationId: r2-put-bucket-lifecycle-configuration
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                rules:
                  items:
                    $ref: '#/components/schemas/r2_lifecycle-rule'
                  type: array
              type: object
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Error Response.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
          description: Success Response.
      security:
      - api_token: []
      summary: Put Object Lifecycle Rules
      tags:
      - R2 Bucket
  /accounts/{account_id}/r2/buckets/{bucket_name}/local-uploads:
    get:
      description: Get the local uploads configuration for a bucket. When enabled, object's data is written to the nearest region first, then asynchronously replicated to the bucket's primary region.
      operationId: r2-get-bucket-local-uploads-configuration
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Error Response.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_local_uploads_configuration'
                  type: object
          description: Success Response.
      security:
      - api_token: []
      summary: Get Local Uploads Configuration
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
    put:
      description: Set the local uploads configuration for a bucket. When enabled, object's data is written to the nearest region first, then asynchronously replicated to the bucket's primary region.
      operationId: r2-put-bucket-local-uploads-configuration
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                enabled:
                  description: Whether to enable local uploads for this bucket.
                  type: boolean
                  x-auditable: true
              required:
              - enabled
              type: object
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Error Response.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
          description: Success Response.
      security:
      - api_token: []
      summary: Put Local Uploads Configuration
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
  /accounts/{account_id}/r2/buckets/{bucket_name}/lock:
    get:
      description: Get lock rules for a bucket.
      operationId: r2-get-bucket-lock-configuration
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Error Response.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket-lock-rule-config'
                  type: object
          description: Success Response.
      security:
      - api_token: []
      summary: Get Bucket Lock Rules
      tags:
      - R2 Bucket
    put:
      description: Set lock rules for a bucket.
      operationId: r2-put-bucket-lock-configuration
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                rules:
                  items:
                    $ref: '#/components/schemas/r2_bucket-lock-rule'
                  type: array
              type: object
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Error Response.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
          description: Success Response.
      security:
      - api_token: []
      summary: Put Bucket Lock Rules
      tags:
      - R2 Bucket
  /accounts/{account_id}/r2/buckets/{bucket_name}/objects:
    delete:
      description: |
        Deletes multiple objects from an R2 bucket. Two modes are supported:

        1. **Delete by list** (default): Provide a JSON array of object keys in the request body.
           All listed objects are deleted; per-key errors are reported in the response.
        2. **Delete by prefix**: Provide the `prefix` query parameter (and an empty/no body)
           to schedule deletion of every object whose key begins with the given prefix.
           This kicks off an asynchronous prefix-delete job and returns the job descriptor.

        For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
      operationId: r2-delete-objects
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      - in: query
        name: prefix
        schema:
          description: |
            When set, switches the operation to "delete by prefix" mode and asynchronously
            deletes every object whose key begins with the given prefix. When omitted, the
            request body is interpreted as a JSON array of object keys to delete.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
              - path/to/object-a.txt
              - path/to/object-b.txt
              items:
                type: string
              type: array
        description: |
          Required for "delete by list" mode (when `prefix` query parameter is omitted).
          A JSON array of object keys to delete. Ignored when `prefix` is provided.
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Delete Objects response failure.
        "200":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    $ref: '#/components/schemas/r2_errors'
                  messages:
                    $ref: '#/components/schemas/r2_messages'
                  result:
                    oneOf:
                    - description: Per-key delete results returned in "delete by list" mode.
                      items:
                        $ref: '#/components/schemas/r2_r2_delete_object_result'
                      type: array
                    - $ref: '#/components/schemas/r2_r2_delete_objects_by_prefix_result'
                  success:
                    description: Whether the API call was successful.
                    enum:
                    - true
                    type: boolean
                required:
                - success
                - errors
                - messages
                - result
                type: object
          description: |
            Delete Objects response. Body shape depends on the operation mode:
            - "delete by list" returns an array of `{ key }` entries for successfully deleted objects;
            - "delete by prefix" returns the prefix-delete job descriptor.
      security:
      - api_token: []
      summary: Delete Objects
      tags:
      - R2 Object
      x-api-token-group:
      - Workers R2 Storage Write
    get:
      description: |
        Lists objects in an R2 bucket. Returns object metadata including key, size, etag, last modified date, HTTP metadata, and custom metadata.

        For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
      operationId: r2-list-objects
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      - in: query
        name: per_page
        schema:
          default: 20
          description: Maximum number of objects to return per page.
          maximum: 1000
          minimum: 1
          type: integer
      - in: query
        name: prefix
        schema:
          description: Restricts results to only those objects whose keys begin with the specified prefix.
          type: string
      - in: query
        name: delimiter
        schema:
          description: A single character used to group keys. All keys that contain the delimiter between the prefix and the first occurrence of the delimiter after the prefix are grouped under a single result element.
          type: string
      - in: query
        name: cursor
        schema:
          description: Pagination cursor received from a previous List Objects call. Used to retrieve the next page of results.
          type: string
      - in: query
        name: start_after
        schema:
          description: Returns objects with keys that come after the specified key in lexicographic order.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: List Objects response failure.
        "200":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    $ref: '#/components/schemas/r2_errors'
                  messages:
                    $ref: '#/components/schemas/r2_messages'
                  result:
                    items:
                      $ref: '#/components/schemas/r2_r2_object'
                    type: array
                  result_info:
                    $ref: '#/components/schemas/r2_r2_list_objects_result_info'
                  success:
                    description: Whether the API call was successful.
                    enum:
                    - true
                    type: boolean
                required:
                - success
                - errors
                - messages
                - result
                type: object
          description: List Objects response.
      security:
      - api_token: []
      summary: List Objects
      tags:
      - R2 Object
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
  /accounts/{account_id}/r2/buckets/{bucket_name}/objects/{object_key}:
    delete:
      description: |
        Deletes an object from an R2 bucket.

        For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
      operationId: r2-delete-object
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - allowReserved: true
        example: path/to/my-object.txt
        in: path
        name: object_key
        required: true
        schema:
          description: |
            The key (name) of the object to delete. May contain slashes for path-like keys.
            Slashes (`/`) within the key MUST be sent literally and MUST NOT be percent-encoded
            (i.e. `%2F`); other reserved characters should be percent-encoded as usual.
          type: string
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Delete Object response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_r2_delete_object_result'
                  type: object
          description: Delete Object response.
      security:
      - api_token: []
      summary: Delete Object
      tags:
      - R2 Object
      x-api-token-group:
      - Workers R2 Storage Write
    get:
      description: |
        Retrieves an object from an R2 bucket. Returns the object body along with metadata headers.

        For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
      operationId: r2-get-object
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - allowReserved: true
        example: path/to/my-object.txt
        in: path
        name: object_key
        required: true
        schema:
          description: |
            The key (name) of the object to retrieve. May contain slashes for path-like keys.
            Slashes (`/`) within the key MUST be sent literally and MUST NOT be percent-encoded
            (i.e. `%2F`); other reserved characters should be percent-encoded as usual.
          type: string
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      - in: header
        name: If-None-Match
        schema:
          description: Returns the object only if its ETag does not match the given value.
          type: string
      - in: header
        name: If-Modified-Since
        schema:
          description: |
            Returns the object only if it has been modified since the specified time.
            Must be formatted as an HTTP-date (RFC 7231), e.g. `Tue, 15 Jan 2024 10:30:00 GMT`.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Get Object response failure.
        "200":
          content:
            application/octet-stream:
              schema:
                description: The object body.
                format: binary
                type: string
          description: Get Object response. Returns the object body with metadata headers.
          headers:
            Content-Length:
              description: The size of the object in bytes.
              schema:
                type: integer
            Content-Type:
              description: The MIME type of the object.
              schema:
                type: string
            ETag:
              description: |
                The entity tag for the object, wrapped in double-quotes per RFC 7232,
                e.g. `"d41d8cd98f00b204e9800998ecf8427e"`.
              schema:
                type: string
            Last-Modified:
              description: |
                The date and time the object was last modified, formatted as an HTTP-date (RFC 7231),
                e.g. `Tue, 15 Jan 2024 10:30:00 GMT`.
              schema:
                type: string
            cf-r2-storage-class:
              description: The storage class of the object.
              schema:
                $ref: '#/components/schemas/r2_storage_class'
        "304":
          description: Not Modified. Returned when conditional request headers indicate the object has not changed.
      security:
      - api_token: []
      summary: Get Object
      tags:
      - R2 Object
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
    put:
      description: |
        Uploads an object to an R2 bucket. The object body is provided as the request body. Returns metadata about the uploaded object.

        The maximum upload size for this endpoint is 300 MB. For most workloads, we recommend using R2's [S3-compatible API](https://developers.cloudflare.com/r2/api/s3/api/) or a [Worker with an R2 binding](https://developers.cloudflare.com/r2/api/workers/workers-api-reference/) instead.
      operationId: r2-put-object
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - allowReserved: true
        example: path/to/my-object.txt
        in: path
        name: object_key
        required: true
        schema:
          description: |
            The key (name) to assign to the object. May contain slashes for path-like keys.
            Slashes (`/`) within the key MUST be sent literally and MUST NOT be percent-encoded
            (i.e. `%2F`); other reserved characters should be percent-encoded as usual.
          type: string
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      - in: header
        name: Content-Type
        schema:
          description: The MIME type of the object being uploaded.
          type: string
      - in: header
        name: Content-Length
        schema:
          description: The size of the object body in bytes.
          type: integer
      - description: Storage class for this object. Overrides the bucket default.
        in: header
        name: cf-r2-storage-class
        schema:
          $ref: '#/components/schemas/r2_storage_class'
      requestBody:
        content:
          application/octet-stream:
            schema:
              description: The object body to upload.
              format: binary
              type: string
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Upload Object response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_r2_put_object_result'
                  type: object
          description: Upload Object response.
      security:
      - api_token: []
      summary: Upload Object
      tags:
      - R2 Object
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
  /accounts/{account_id}/r2/buckets/{bucket_name}/sippy:
    delete:
      description: Disables Sippy on this bucket.
      operationId: r2-delete-bucket-sippy-config
      parameters:
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Delete Sippy Configuration response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      properties:
                        enabled:
                          enum:
                          - false
                          type: boolean
                      type: object
                  type: object
          description: Delete Sippy Configuration response.
      security:
      - api_token: []
      summary: Disable Sippy
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
    get:
      description: Gets configuration for Sippy for an existing R2 bucket.
      operationId: r2-get-bucket-sippy-config
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Get Sippy Configuration response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_sippy'
                  type: object
          description: Get Sippy Configuration response.
      security:
      - api_token: []
      summary: Get Sippy Configuration
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
    put:
      description: Sets configuration for Sippy for an existing R2 bucket.
      operationId: r2-put-bucket-sippy-config
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - in: path
        name: bucket_name
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - in: header
        name: cf-r2-jurisdiction
        schema:
          $ref: '#/components/schemas/r2_jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/r2_enable_sippy_aws'
              - $ref: '#/components/schemas/r2_enable_sippy_gcs'
              - $ref: '#/components/schemas/r2_enable_sippy_s3'
        required: true
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Get Sippy Configuration response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_sippy'
                  type: object
          description: Set Sippy Configuration response.
      security:
      - api_token: []
      summary: Enable Sippy
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
  /accounts/{account_id}/r2/metrics:
    get:
      description: Get Storage/Object Count Metrics across all buckets in your account. Note that Account-Level Metrics may not immediately reflect the latest data.
      operationId: r2-get-account-level-metrics
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
          description: Get Account-Level Metrics response failure.
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_account_level_metrics'
                  type: object
          description: Get Account-Level Metrics response.
      security:
      - api_token: []
      summary: Get Account-Level Metrics
      tags:
      - R2 Account
      x-cfPermissionsRequired:
  /accounts/{account_id}/r2/temp-access-credentials:
    post:
      description: Creates temporary access credentials on a bucket that can be optionally scoped to prefixes or objects.
      operationId: r2-create-temp-access-credentials
      parameters:
[...]
